
<!-- About us page-->
{% extends 'base.html'%}
{% block content %}
{% include 'nav_bar.html' %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<div id="about">
		<div class="innerabout">
				<div class="image1">
						
				</div>
				<div class="text2">
					<h1 class="text-center">About ACweb</h1>
					<p class="text-center">Hello Sir/Ma'am <strong></strong>  ,We started the our ACweb on 1 january 2019. We know that our company is new but   we have experience and expert engineer that perform given task to solve your issue. We provide lot of service that is already mention in service section.
					We are always arrive in correct time .We will give 50% discount on your first service</p>
					
				</div>
		</div>
</div>
{% endblock content %}